.container  {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;     
}
.card {
                flex: 0 1 24%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                border-radius: 5px; 
                flex-grow: 2;
                padding: 5px;
                margin-top: 10px;
                border: 1px solid #D5ACA6;
                background-color: #fef7f6; 
              }
@media screen and (max-width: 40em) {
        .card { 
                flex: 0 1 calc(100% - 1em);

        }
}
@media screen and (min-width: 60em) {
        .containter {
                display: flex;
                
                justify-content: space-between;
        }
        .card {
                flex: 0 1 calc(25% - 1em)

        }

}
.collapse {
        background-color: #ccc;
        color:#12263A;
        cursor: pointer;
        padding: 0px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 1.2em;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: underline;
        font-weight: bold;
        border-radius: 5px;
        
}
.active, .collapse:hover {
        background-color: #807e7e;
}

.text {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #fef7f6;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        color: #12263A;      
}

h1 {
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps;
        font-size: 3.5em;
        text-align: center;
        color: #12263A;
             
}

h3 {
        font-family: 'Courier New', Courier, monospace;
        font-variant: small-caps;
        font-size: 2em;
        color: #12263A;
        text-align: center;           
}

        

